<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Go Fish</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@rolemodel/optics@1.0.0/dist/css/optics.css">
  <link rel="stylesheet" href="../../style.css">
  <link rel="stylesheet" href="../../game-view.css">
</head>
<body id="main" class="app-body">
  <script src="../models/Player.js"></script>
  <script src="../models/Card.js"></script>
  <script src="../models/Deck.js"></script>
  <script src="../models/Book.js"></script>
  <script src="../models/Bot.js"></script>
  <script src="../models/Game.js"></script>
  <script src="../models/GameView.js"></script>
  <script src="../controllers/GoFishController.js"></script>
  <script src="../models/LoginView.js"></script>
  <script src="../models/EndGameView.js"></script>
</body>
</html>